.container-hamb{
display: none;
}
.navbarInterRight.pt7{
    padding-top: 7em;
}
.iplomo::before{
    color: #808080;
}
.navbarInterRight .navList-InterRight .navItem-InterRight:hover .iplomo::before, .navbarInterRight .navList-InterRight .navItem-InterRight.active .iplomo::before{
    color: #fff;
}
.fs25{
    font-size: 2.5em;
}
.pt1{
    padding-top: 1em;
}
.cardSynthesis .titleBig-cardSynthesis.fs20 .span-cardSynthesis {
    font-size: 0.7em;
    position: absolute;
    bottom: -1em;
    left: 0;
}
.cardSynthesis .titleBig-cardSynthesis.fs20{
    position: relative;
    font-size: 2em;
}
.mt3{
    margin-top: 3em;
}
.pb4{
    padding-bottom: 4em;
}
.navbarInterRight .navList-InterRight .navItem-InterRight .navLink-InterRight .navIcon-InterRight .icon-InterRight.icon-his.iplomo{
    font-size: 1.8em;
    margin-left: -7px;
}
.imivi{
    font-size: 1.8em;
    position: absolute;
    left: 0;
    top: -20px;
}
.tmivi{
    padding-left: 1.5em;
}
.bold{
    font-weight: bold;
}
.pb1{
    padding-bottom: 1em;
}
.titles-descrip.pd-x-0{
    padding-left: 0!important;
}
.pt4{
    padding-top: 4em;
}
.over{
    overflow: hidden;
    position: relative;
    transition: .5s;
}
.over img{
    width: 100%;
    // -webkit-filter: grayscale(100%);
    // filter: grayscale(100%);    
}
.over2{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: 0.5s ease;
    //background-color: rgba(255, 255, 255, 0.9);
}
.cardSynthesis.sinlp:hover .over2{
    background-color: rgba(0, 160, 222, 0.9);
}
.cardSynthesis.sinlp:hover .over{
    transform: scale(1.1);
    z-index: 1;
}
.cardSynthesis.sinlp::before{
content: none;
}

.cardSynthesis.sinlp .title-cardSynthesis{
    font-weight: bold;
    text-transform: uppercase;
    font-family: "poppinsbold";
    text-align: center;
}
.textval {
    position: absolute;
    top: 45%;
    bottom: 0;
    margin: auto;
    z-index: 2;
}
.cardSynthesis.sinlp:hover .textval h3.title-cardSynthesis,.cardSynthesis.sinlp:hover .textval p.text-internas{
    color: #fff;
    opacity: 1;
}
.cardSynthesis.sinlp p.text-internas{
    opacity: 0;
    line-height: 17px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}
.cardSynthesis.sinlp:hover .textval{
    top: 30px;
    animation-name: sube;
    animation-duration: .5s;

}


@keyframes sube {
  from {
top:45%;
  }

  to {
top:30px;
  }
}
.redt .tmivi{
    font-family: "poppinsbold";
}
.ired{
    font-size: 1.3em;
    position: absolute;
    left: 0;
    top: -10px;
}
.icosvg img{
 width: 100%;
 padding-right: 3em;
 padding-bottom: 1.5em;
 padding-left: 2em;
}
.icosvg img.teleton{
    width: 12em;
}
.imgcol{
    position: absolute;
    opacity: 0;
    transition: .5s;
}
.icosvg a:hover .imgcol{
    opacity: 1;
}
.wrapper-info-theClinic .description-theClinic.redt{
    background: #fff;
}
.bk1{
    background-image: url("../images/paises/peru.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.bk2{
    background-image: url("../images/paises/venezuela.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.bk3{
    background-image: url("../images/paises/ecuador.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.overbl{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.9);
}
.floatr{
    float: right;
    right: -3em;
    top: 3em;
}
.posalm{
    position: absolute;
    width: 100%;
    z-index: 1;
}
.zi2{
    z-index: 2;
}
.pe{
    position: absolute;
    top: 37%;
    left: 30%;
}
.ve{
    position: absolute;
    top: 12%;
    left: 45%;
}
.ecu{
    position: absolute;
    top: 23%;
    left: 21%;
}
.icon-ico{
    font-size: 1.5em;
    float: left;
    margin: 1px 0 0 0;
    position: relative;
    z-index: 1;
    //transition: .5s;
}
.btnmap li a{
    position: absolute;
    z-index: 1;
    height: 35px;
    width: 35px;
    background-color: rgba(139, 139, 139, 0.5);
    border-radius: 50px;
    -webkit-transition: background-color 300ms ease;
    -moz-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
}
.btnmap li a .icon-ico::before{
    color: #6d6d6d;
    transition: .5s;
}
.btnmap li a::before{
    content: " ";
    position: absolute;
    top: -9px;
    left: -9px;
    height: 53px;
    width: 53px;
    background-color: rgba(139, 139, 139, 0.3);
    border-radius: 50px;
    -webkit-animation: opacidade 2.5s ease-in-out infinite, dimensoes 2.5s ease-in-out infinite;
    animation: opacidade 2.5s ease-in-out infinite, dimensoes 2.5s ease-in-out infinite;
    -webkit-transition: background-color 300ms ease;
    -moz-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
}
.btnmap li a::after{
    content: " ";
    position: absolute;
    top: -17px;
    left: -17px;
    height: 70px;
    width: 70px;
    background-color: rgba(139, 139, 139, 0.2);
    border-radius: 50px;
    -webkit-animation: opacidade 2.5s ease-in-out .2s infinite, dimensoes 2.5s ease-in-out .2s infinite;
    animation: opacidade 2.5s ease-in-out .2s infinite, dimensoes 2.5s ease-in-out .2s infinite;
    -webkit-transition: background-color 300ms ease;
    -moz-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
}

@-webkit-keyframes dimensoes {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    100% {
      -webkit-transform: scale3d(1.5, 1.5, 1);
      transform: scale3d(1.5, 1.5, 1);
    }
  }
  @keyframes dimensoes {
    0% {
      -webkit-transform: scale3d(0.9 0.9, 1);
      transform: scale3d(0.9, 0.9, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  @-webkit-keyframes opacidade {
    0%, 100% {
      opacity: 0;
    }
    45%, 55% {
      opacity: 1;
    }
  }
  @keyframes opacidade {
    0%, 100% {
      opacity: 0;
    }
    55%, 65% {
      opacity: 1;
    }
  }
  .btnmap li:hover a .icon-ico::before,
    .btnmap li.active a .icon-ico::before{
    color:#b91c31;
  }

.btnmap li:hover a,.btnmap li.active a{
    background-color: rgba(198, 12, 48, 0.1);
    transform: scale(1.5);
}

  .btnmap li:hover a::before,  .btnmap li.active a::before{
    background-color: rgba(198, 12, 48, 0.25);
    transform: scale(1.5);
  }
  .btnmap li:hover a::after,  .btnmap li.active a::after{
    background-color: rgba(198, 12, 48, 0.2);
    transform: scale(1.5);
  }
  .subtitleSec-descrip.fs20{
      font-size: 18px;
  }