
.subtitlePrimary-descrip {
    color: $color-primary;
    font-family: $subtitlesLight-internas;
    font-size: 1.5em;
}
.subtitleSec-descrip {
    color: $color-secondary;
    font-family: $subtitlesLight-internas;
    font-size: 1.2em;
    margin: 1em 0 1.3em;
}
.pb7{
    padding-bottom: 7em;
}
.dta {
    display: table;
    height: 100%;
}
.dtac {
    display: table-cell;
    vertical-align: middle;
}
.dflex{display: flex;}
.pr4-5{
    padding-right: 4.5em;
}
.title-cardSynthesis {
    color: #00a0de;
    font-family: "poppinsregular";
    font-weight: 800;
}
.synt{
    color: #003989;
    font-family: "poppinsbold";

}
.pb3{
    padding-bottom: 3em;
}
.tcs{
    font-size: 0.75em;
    line-height: 1.4;
    padding: 15px 15px 0 15px;
    height: 0;
    opacity: 0;
    transition: .5s;
}
.overs:hover .tcs{
    height: 100%;
    opacity: 1;
}
.ml6{
    margin-left: 6em;
}
.titles-descrip {
    color: $color-primary;
    font-family: $font-titles;
    font-size: 2.5em;
    text-transform: uppercase;
    position: relative;
    line-height: 1;
    margin: 1em 0;
    padding-left: 1.2em;

    .span-titlesDescrip {
        font-size: .6em;
    }
}

.btn-inter {
    color: $color-white;
    background-color: $btn-primary;
    border: none;
    font-family: $font-semiBold;
    font-size: .95em;
    padding: .5em 2.5em;
    border-radius: 3px;
    margin: 3em 0;
}
.icon-san:before {
    position: absolute;
    left: 0;
    top: 8px;
    bottom: 0;
    margin: auto;
    font-size: 1.8em;
    color: $color-secondary;
}
.description-flotant{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 26em;
    padding: 2.6em 3em 1em 2em;
    background-color: $color-white;

    &.descp-flot-r{
        right: 0;
        left: initial;
        padding: 2.6em 3em 2em 3em;
        //width: 35%;
    }
    &.descp-flot-l{
        //width: 35%;
    }

    &.dscp-2{
        width: 30%;
        padding: 3em;
    }
    
    .year-tab{
        font-family: $font-bold-internas;
        font-size: 2.6em;
        padding-left: .55em;
    }
    .text-border{
        position: relative;
        padding: 1.6em 1.85em;
        text-align: justify;

        &:before{
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            width: 25px;
            height: 25px;
            border-right: 6px solid $color-peru;
            border-top: 6px solid $color-peru;
        }
        &:after{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 25px;
            height: 25px;
            border-left: 6px solid $color-peru;
            border-bottom: 6px solid $color-peru;
        }
    }
}

.text-p2 {
    font-size: .8em;
    font-family: $font-internas;
    color: $color-int2;
    line-height: 1.55;
    text-align: justify;
    padding-bottom: 1.3em;
}

.sub-ttl-flotant {
    font-family: $font-bold-internas;
    //text-transform: capitalize;
    position: relative;
    padding-top: 1em;
    margin-bottom: 1.5em;
    font-size: 1.5em;

    &.ttl-presence{
        font-family: $font-bold-internas;
        font-size: 1.75em;
    }

    &:before{
        content: "";
        position: absolute;
        width: 70px;
        height: 5px;
        background-color: $color-peru;
        bottom: -18px;
    }
}

.description-hrnos{
    .name-hrno,
    .position-hrno{
        text-transform: capitalize;
    }
    .name-hrno{
        font-size: 1.316em;
    }
    .position-hrno{
        font-size: 1.053em;
        margin: .7em 0 1.5em;
    }
    .email-hrno{
        font-size: .8em;
    }
}
.fr-clinica{
    float: right;
}

/* Effects */
.shine {
    position: relative;
    
    display: inline-flex;
    justify-content: center;

    overflow: hidden;
}
.shine::before {
    content: '';
    position: absolute;
    left: -85%;
    top: 0;

    display: block;
    width: 50%;

    height: 100%;
    background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);
    transform: skewX(-25deg);
    z-index: 2;
}
.shine:hover::before {animation: shine .5s;}
@keyframes shine {100% {left:125%}}

.btn-redHover {
    transition: .75s all;
    &:hover {background-color: rgba(198, 12, 48, 0.75);}
}

.btn-blueLightHover {
    transition: .75s all;
    &:hover {background-color: rgba(0, 160, 222, 0.75)!important;}
}
