/* CONVENIOS */
.logo-convenio {margin: 1.5em 0;}

.logo-convenio img {
    display: block;
    max-width: 100%;
    transition: all 0.3s ease-in-out;
}
.logo-convenio .logo-convenio_color {
    display: none;
}

.logo-convenio:hover .logo-convenio_color {display: block;}
.logo-convenio:hover .logo-convenio_bw {display: none;}

/* GESTIÓN DE PAUS */
.pr-icon span {
    display: inline-block;
    margin: 0.5em 0;
    font-size: 2.5em;
}