/*******************
DIMENSION PROFETICA
*******************/
.block_h2 {
    margin-bottom: 3em;
    font-size: 1.75em;
    font-family: "poppinsbold";
    color: #003989;
}

.block_h3 {
    position: relative;
    margin-bottom: .5em;
    font-size: 1em;
    font-family: "poppinssemibold";
    color: #003989;
    line-height: 1.3;
}

.img-colaboradores {padding-right: 4em;}
.acciones-evangelizacion .text-internas {width: 70%;}

/*******************
DIMENSION LITÚRGICA
*******************/
.celebraciones-liturgicas .dimension_block {padding-right: 6em;}

/*******************
DIMENSION CARITATIVA
*******************/
.mensajeros-salud .dimension_block {padding-right: 7em;}
.sede-voluntariado .dimension_block {padding-right: 7em;}

/***********************
DIMENSION HOSPITALARIA
***********************/
.title-age {
    color: #003989;
    font-family: "poppinsbold";
    font-size: 2.5em;
    text-transform: uppercase;
    position: relative;
    line-height: 1;
}

.colaboradores .dimension_block {padding-right: 7em;}

.espacio-formacion .dimension_block {padding-left: 7em;}

.ruta-hospitalidad .dimension_block {padding-right: 7em;}