.wrapperTitles-socialResp {
    .icon-medico {
        float: left;
        font-size: 2.6em;
    }

    .contentTitles-socialResp {
        .titles-socialResp {
            color: $color-primary;
            font-family: $titlesBig-internas;

            &.h3Tsocial {
                font-size: 1.4em;
            }

            &.h2Tsocial {
                font-size: 2.3em;
            }
        }
    }
}

.cont-imgMessengers {
    width: 100%;
    height: 25.3em;

    .imgMessengers {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.sct-socialResponsabilitY {
    .btn-inter {
        margin: 0;
        padding: 0.8em 2.5em;
    }
}

.cont-ctas {
    .ctas-deposit {
        .numberCta {
            color: $color-primary;
            font-family: $titlesBig-internas;
            position: relative;
            margin-right: 1em;

            &:before {
                position: absolute;
                top: -20px;
                font-family: $font-internas;
                font-size: 14px;
                color: $color-black;
                opacity: .6;
            }

            &.soles {
                &:before {
                    content: "AHORROS EN SOLES BCP";
                }
            }

            &.dolares {
                &:before {
                    content: "AHORROS EN DÓLARES BCP";
                }
            }
        }

        .btn-donaciones {
            background: $color-secondary;
            border: none;
            border-radius: 3px;
            color: $color-white;
            font-family: $subtitlesLight-internas;
            font-size: .8em;
            padding: 7px 2.2em;
        }
    }
}

.rs-icon span {
    display: inline-block;
    margin-bottom: .15em;
    font-size: 3em;
}

.sct-socialResponsabilitY h2 .text-1 {font-size: .75em;}
.sct-socialResponsabilitY h2 .text-2 {
    font-size: 1em;
    text-transform: uppercase;
}

/* Misiones - Campañas - Mil */
.misiones-campanas-mil {
    margin-bottom: 5em;
    background-size: cover;
    background-image: url('../../assets/images/internas/bg-estadisticas.jpg');
}

.wrap-mcm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2.5em 0;
}

.mcm-item {
    position: relative;
    text-align: center;
    flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 33.3333%;

    &:not(:last-child)::before {
        content: "";
        position: absolute;
        right: 0;
        top: 45%;

        width: 5px;
        height: 80px;

        background-color: rgba(255, 255, 255, 0.5);
    }

    & h3 {
        color: $color-white;
        font-size: 3.5em;
        font-family: $titlesBig-internas;
    }
    & h4 {
        color: $color-lightBlue;
        font-size: 2.1em;
        font-family: $font-semiBold;
    }
    & p {
        color: $color-white;
        font-size: 1.1em;
        font-family: $font-internas;
    }
}