.form-reservarCita .form__label-content {
    left: 50%;
    top: 50%;
    transform: translate(-50%, 30%);
}

.form-reservarCita .form__input:focus ~ .form__label .form__label-content,
.form-reservarCita .form_textarea:focus ~ .form__label .form__label-content,
.form-reservarCita .form--filled .form__label-content {
    transform: translate3d(-50%, 80%, 0);
}