.wrapper-footer {
    background-color: $color-secondary;
    padding: 1.5em 0 .3em;
    footer>.container {
        width: 96%;
    }
    .menuF-list {
        font-family: $font-internas;

        .menuF-item {

            .menuF-link {
                color: $color-white;
                font-weight: bold;
                font-size: .71em;
                line-height: 2.5;
            }
            .submenuF {

                .submenuF-item {

                    .submenuF-link {
                        color: $color-white;
                        font-size: .65em;
                        opacity: .75;
                        position: relative;
                        padding-left: 7px;
                        &:before {
                            content: "";
                            position: absolute;
                            left: -2px;
                            top: 4px;
                            height: 4px;
                            width: 4px;
                            background-color: #fff;
                            border-radius: 50%;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
    .infoMobile {
        text-align: center;
        color: $color-white;
        .csjdF-title {
            font-size: 1.25em;
            font-family: $font-titles;
        }
        .csjd-linkF {
            margin: 0;
            color: $color-white;
        }
    }
    .socialNetworksF {
        position: relative;
        bottom: 5%;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        .iconF {
            color: $color-white;
            font-size: 2em;
            padding: 0 0.2em;
            border-radius: 50%;
        }
    }
    .credits {
        .content-info-credits {
            width: 90%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            font-family: arial;
        }
        .text-data {
            color: $color-white;
            font-size: 0.5rem;
            opacity: 0.35;
        }
        .link-data {
            color: $color-white;
            font-size: 0.5rem;
            opacity: 0.35;
            transition: 0.5s all;
            &:hover {
                color: $color-white;
                opacity: 1;
            }
        }
    }
}
.submenuF.fa-ul{
    margin-left: 1em;
}
.wrapper-footer .menuF-list .menuF-item .submenuF.fa-ul .submenuF-item .submenuF-link{
    padding-left: 0;
}
.wrapper-footer .menuF-list .menuF-item .submenuF.fa-ul .submenuF-item .submenuF-link:before{
    content: none;
}
.submenuF.fa-ul .fa-li{
    bottom: 0;
}
.submenuF.fa-ul .fa-li .icon-sobre{
    font-size: 10px;
}