.wrapper-header {
    width: 100%;
    z-index: 100;
    display: inline-block;
    transition: background .4s;

    header {
        padding-top: 1.4em;
        padding-bottom: 1.4em;

        &.container {
            width: 89%;
        }
    }
    .contentLogo {
        color: #fff;
        width: 17.1em;
        display: inline-block;
        position: absolute;
        z-index: 100;
        img {
            width: 100%;
        }
    }

    .content-menuPrincipal {
        float: right;

        .phones-and-socialH {
            text-align: right;
            margin-bottom: 15px;

            .phoneInfoForm {
                position: relative;
                color: #fff;
                font-size: 1.15em;
                margin-right: 1em;

                .icon-phone {
                    font-weight: bold;
                }
                
                &:before {
                    position: absolute;
                    font-family: "poppinsregular";
                    font-size: 12px;
                    top: -16px;
                    left: 38px;
                    color: #fff;
                }
            }
            .quoteCitas:before {content: "Central Citas";}
            .quoteInformes:before {content: "Central Informes";}

            .container-socialH {
                .container-iconSocialF {}

                .icon-socialH {
                    border-radius: 50%;
                    padding:0 5px;
                    color: $color-white;
                    font-size: 1.5em;
                    overflow: hidden;
                    position: relative;
                    cursor: pointer;
                    z-index: 10;
                    transition: .4s;

                    &:hover {
                        color: $color-secondary;
                        
                    }
                }
            }
        }

        .navbarList {
            margin-bottom: 0;
            display: flex;
            align-items: center;   
            justify-content: space-between;  
            padding-right: 3em;   

            .navbarItem {
                font-family: $font-semiBold;
                display: inline-block;

                .navbarLink,
                .btnCitas-link {
                    color: #fff;
                    font-size: .85em;
                }

                .navbarLink {
                    /*padding: .8em;*/
                    transition: .2s;

                   .icon-hojasLeft,
                   .icon-hojasRight {
                       display: inline-block;
                       opacity: 0;
                       transition: .25s ease-out;
                   }
                }
                &.active,
                &:hover{
                    .navbarLink {
                        color: $color-primary;
     
                        .icon-hojasLeft,
                        .icon-hojasRight {
                            opacity: 1;
                        }

                        .icon-hojasLeft {transform: translate(-3px, -3px);}
                        .icon-hojasRight {transform: translate(3px, -3px);}
                     }
                }

                &.btnCitas {
                    background-color: $btn-primary;
                    padding: .5em 1.6em;
                    border-radius: 5px;
                    margin-right: 1.5em;
                    font-size: 1em;

                    .icon-citas {
                        padding-right: 7px;
                    }
                }
            }
        }
    }

    .logoAqp-hover {
        display: none;
    }
    
}

/*
HOVER HEADER
*/

.wrapper-header.fixed{
    background-color: $color-white;
    transition: background .4s;
    /*box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);*/

    .logoAqp-hover {
        display: block;
    }

    .logoAqpB {
        display: none;
    }

    .phones-and-socialH {
        .phoneInfoForm,
        .phoneInfoForm:before {
            color: $color-primary;

            .icon-phone {
                font-weight: bold;
            }
        }

        .container-socialH {
            .icon-socialH {

                color: $color-white;
            }
        }
    }

    .navbarList {
        .navbarItem {

            .navbarLink {
                color: $color-black;
            }
        }
    }
    .content-menuPrincipal .phones-and-socialH .container-socialH .icon-socialH {
        color: $color-int2;
        transition: .4s;
        &:hover {
            color: $color-secondary;
        }
    }

}

// .wrapper-header.fixed a.icon-socialH span::before,.wrapper-header:hover a.icon-socialH span::before{
//     color: $color-int2!important;
// }

.red-hosp{
    background-color: $color-peru;
    padding: 9px 20px;
    border-radius: 5px;
    color: $color-white;
    font-size: .88em;
    margin-right: 3em;
    .icon-citas {
        font-size: 1.1em;
        margin-right: 5px;
    }
}

.nav-left{
    background-color: rgba(255,255,255,.95);
    text-align: left;
    padding: 0 1em 8em 11em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .logoAqp-hoverMenu {
        max-width: 60%;
        position: absolute;
        top: 3%;
        left: 20%;
    }

    .hoverMenu-link {margin: 1em 0;}

    .text-light-left{
        color: $color-primary;
        font-family: $font-internas;
        font-size: .75em;
    }
    .ttl-nav-left{
        font-family: $font-titles;
        font-size: 1.35em;
    }

    .rs-nav-left {
        & .icon-nav-left {
            width: 30px;
            height: 30px;
            
            display: inline-flex;
            justify-content: center;
            align-items: center;

            font-size: 1em;
            color: $color-lightBlack;

            padding: .95em;
            border-radius: 50%;
            transition: .5s all;

            &:hover {
                color: $color-white;
                background-color: $color-secondary;
            }

            /*
            &.icon-facebook-single:hover {background-color: #3b5998;}
            &.icon-youtube-single:hover {background-color: #ff0000;}
            &.icon-instagram-single:hover {background-color: #c32aa3;}
            &.icon-twitter-single:hover {background-color: #1da1f2;}
            &.icon-linkedin-single:hover {background-color: #007bb5;}
            */
        }
    }
}
.m-btn{
    margin: 2.5em 0 4.5em;
}
.btn-r-hosp {
    color: $color-white;
    background-color: $color-peru;
    padding: 14px 27px;
    border-radius: 3px;
    font-size: 1.15em;

    & span {margin-left: 6px;}
}
.phone-nav-left{
    margin: .8em 0;
    a{
        font-size: 1.15em;
    }
    i{
        margin-right: 5px;
    }
}

.wrapper-nav-big {

    &.row{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .content-subm-int{
        float: left;
        text-align: left;
    }

    .img-subm{
        width: 23em;
        float: right;
    }
    .tab-content-imgs {
        height: 100vh;
    }
    .img-header-big{
        position: absolute;
        top: 14%;
        right: 11%;
        width: 24em;
        height: 37.6em;
    }
    .nav-big {
        text-align: left;
        padding: 0 1em 7em;

        .item-nav-big {
            line-height: 2.1;
            font-size: 1.1em;
            margin: .5em 0;

            .link-nav-big {
               text-transform: uppercase;
               color: $color-primary; 
               transition: .2s;

               .icon-hojas {
                   display: inline-block;
                   opacity: 0;
                   transition: .5s all;
               }
            }
            &.contc {
                font-size: 1.45em;
                margin-top: 6em;

                .link-nav-big {
                    
                }
            }
            .subm-nav-big {
                position: absolute;
                top: 0;
                left: 65%;

                width: 100%;
                height: 100%;
                //opacity: 0;
                display: none;

                .item-subm-big {
                    line-height: 2.1;
                    font-size: .78em;

                    .link-subm-big {
                        font-family: $font-internas;
                        color: $color-int2;
                        display: block;
                        width: 100%;
                        transition: .2s;
                        
                    }

                    &:hover {
                        .link-subm-big {
                            font-family: $font-semiBold;
                        }
                    }
                }
            }

            &:hover {
                .link-nav-big {
                    color: $color-peru;

                    .icon-hojas {
                        opacity: 1;
                    }

                    .icon-hojasLeft {transform: translate(-5px, -5px);}
                    .icon-hojasRight {transform: translate(5px, -5px);}
                }
                >.subm-nav-big {
                    display: block;
                }
            }
        }
    }
}
@media (min-width: 768px) {
    .wrapper-nav-big{
        .panel-heading {
            display: none;
          }
          .panel {
            border: none;
            box-shadow: none;
          }
          .panel-collapse {
            height: auto;
          }
          .panel-collapse.collapse {
            display: block;
          }
    }
    
  }
@media (max-width: 767px) {
    .wrapper-nav-big {
    .tab-content .tab-pane {
    display: block;
    }
    .nav-tabs {
    display: none;
    }
    .panel-title a {
    display: block;
    }
    .panel {
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    margin-top: -2px;
    }
    .tab-pane:first-child .panel {
    border-radius: 5px 5px 0 0;
    }
    .tab-pane:last-child .panel {
    border-radius: 0 0 5px 5px;
    }   
    }
}

#menuArea {

    input {
        display: none;
    }
    
    .open {
        background-color: $color-white;
        width: 19px;
        height: 1px;
        display: block;
        border-radius: 2px;
        cursor: pointer;
        position: relative;
        top: -13px;
    }
    
    .open:before {
        content: "";
        background-color: $color-white;
        width: 19px;
        height: 1px;
        display: block;
        border-radius: 2px;
        position: relative;
        top: -4px;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }
    
    .open:after {
        content: "";
        background-color: $color-white;
        width: 19px;
        height: 1px;
        display: block;
        border-radius: 2px;
        position: relative;
        top: 3px;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }
    
    .menuOpen {
        display: block;
        cursor: pointer;
        float: right;
        position: absolute;
        right: 6.25vw;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-color: $color-primary;
        top: 68px;
        z-index: 1;

        &:before {
            content: 'MENU';
            position: absolute;
            top: 8px;
            left: 0 ;
            right: 0;
            text-align: center;
            color: $color-white;
            font-family: $font-internas;
            font-size: 8px;
        }
    }
    
    .menu {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.9);
        z-index: 0;
    }
    
    .menu label {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 20px;
        top: 20px;
        background-size: 100%;
        cursor: pointer;
    }
    
    .menu .menuContent {
        position: relative;
        top: 0;
    }
    
    .menuEffects {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s, visibility 0.5s;
        
    }
    
    .menuEffects .navigation__nav {
        transform: translateY(0%);
        transition: all 0.5s;
    }
    
    #menuToggle:checked ~ .menuEffects {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s;
    }
    
    #menuToggle:checked ~ .menuEffects .navigation__nav {
        opacity: 1;
    }
    #menuToggle:checked ~ .menuOpen .open {
        background-color:  $color-primary;
        color: $color-primary;
    }
    
    #menuToggle:checked ~ .menuOpen .open:before {
        content: "";
        background-color: $color-white;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
    
    #menuToggle:checked ~ .menuOpen .open:after {
        content: "";
        background-color: $color-white;
        transform: rotate(-45deg);
        position: relative;
        top: 0;
        right: 0;
        z-index: 1;
    }
    
    #menuToggle:not(:checked) ~ .menuEffects .navigation__nav {
        transform: translateY(-30%);
    }      
}